      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .RelPermalink }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
          <!--
          <li>
            <a href="http://6u3sw23a22dfgkkjn2newxxkjdv5ybe4ehptbd64yhlitvelij4i7vqd.onion" type="application/rss+xml" target="_blank">Serviço Onion</a>
          </li>
          -->
          <li>
            <a href="https://creativecommons.org/publicdomain/mark/1.0/deed.pt">&copy; Domínio Público</a>
          </li>
        </ul>
      </footer>

    </div>
  </body>
</html>
