<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ hugo.Generator }}

{{ if .IsHome }}
<title>{{ .Title }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
{{ end }}

{{ if .IsHome }}
<meta property="description" content="{{ .Site.Params.description }}">
{{ else }}
  {{ if .Description }}
  <meta property="description" content="{{ .Description }}">
  {{ end }}
{{ end }}

{{ if .Keywords }}
<meta property="keywords" content ="{{ delimit .Keywords ", " }}">
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="icon" href="{{ .Site.BaseURL }}images/{{ .Site.Params.icon.url }}" type="image/x-icon"/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" media="all">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css" media="all">
