<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
         width="{{ .Site.Params.logo.width }}" 
         height="{{ .Site.Params.logo.height }}" 
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <!--<img src="/images/extintor.png">-->
  <img class="line" src="/images/linha.png">

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
